html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: white;
  background: transparent;
}

.container {
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0%;
  /* align-items: center; */
  justify-items: center;
}

.item {
  font-family: 'VT323', monospace;
  color: white;
  font-size: 27px;
  padding: 0 3% 0 3%;
}

.itemImg{
  color: blue;
  padding: 15px 0 15px 0;
}

.itemTitle {
  font-family: 'VT323', monospace;
  font-size: 40px;
  padding: 15px 0 15px 0;
}
